---

- name: Install required packages
  apt:
    pkg={{ item }}
    state=latest
  with_items:
    - tomcat7
    - unzip

- name: Setup BIRT user
  user: name="{{ birt_user }}"

# - command: pwda
#   register: result 
#   connection: local
#   sudo: False
  
# - debug:
#     msg: '{{ result }}'
  
- name: Setup authorized keys
  authorized_key: 
    user: "{{ birt_user }}"
    key: "{{ lookup('file', '%s' % item) }}"
  with_items:
    - "files/{{ birt_ssh_pubkey }}"
    - "files/{{ jenkins_ssh_pubkey }}"

# Install git_access_key. It's better to copy this manually once the playbook has been run once
#- name: Setup git_access_private_key
#  copy: scr="files/{{ git_acess_key }}" dest="/home/birt/.ssh/{{ git_access_key }}" mode=0600

- name: Unzip BIRT viwer package to tmp
  unarchive:
    src: "{{ birt_runtime }}"
    dest: /tmp/
  tags: notthis

- name: Install sql connectors
  copy: 
    src: "{{ item }}"
    dest: "{{ birtviewer_dst }}/WEB-INF/lib/" 
  with_items: 
   - "{{ mysql_connector }}"
   - "{{ psql_connector }}"

- name: Create birtviewer directory
  file: path="{{ birtviewer_dst }}" state=directory

- name: Copy BIRT webapp to birtviewer directory
  shell: cp -rf /tmp/{{ birt_runtime_unzipdir }}/WebViewerExample/* {{ birtviewer_dst }}/
  notify:
    - restart tomcat
  
- name: Remove tmp files
  shell: rm -rf "/tmp/{{ birt_runtime_unzipdir }}"

- name: Start Tomcat
  service: name=tomcat7 state=started

