<IfModule mod_ssl.c>

NameVirtualHost *:80
<VirtualHost *:80>
   ServerName {{ apache.server_name }}
   Redirect permanent / https://{{ apache.server_name }}/
</VirtualHost>

<VirtualHost _default_:443>
        ServerAdmin webmaster@localhost

        <IfModule mod_headers.c>
            Header always set Strict-Transport-Security "max-age=31536000"
            Header always set Public-Key-Pins "pin-sha256=\"Fq3YMR2ibLgpoD509egJDn5cPXPfnXC5MUd2IWwV/qA=\"; pin-sha256=\"lqMfOTYct9rMx/Y2LpHI8aZt9xgWHX/TwLLQ51NQl04=\"; max-age=2592000";
        </IfModule>

        ScriptAlias /cgi-bin/ /usr/lib/cgi-bin/
        <Directory "/usr/lib/cgi-bin">
                AllowOverride None
                Options +ExecCGI -MultiViews +SymLinksIfOwnerMatch
                Order allow,deny
                Allow from all
        </Directory>

        ErrorLog ${APACHE_LOG_DIR}/error.log

        # Possible values include: debug, info, notice, warn, error, crit,                                         
        # alert, emerg.                                                                                            
        LogLevel warn

        CustomLog ${APACHE_LOG_DIR}/ssl_access.log combined

        Alias /doc/ "/usr/share/doc/"
        <Directory "/usr/share/doc/">
                Options Indexes MultiViews FollowSymLinks
                AllowOverride None
                Order deny,allow
                Deny from all
                Allow from 127.0.0.0/255.0.0.0 ::1/128
        </Directory>

        #   SSL Engine Switch:                                                                                     
        #   Enable/Disable SSL for this virtual host.                                                              
        SSLEngine on
        SSLProtocol -ALL +TLSv1 +TLSv1.1 +TLSv1.2
        SSLHonorCipherOrder on
        SSLCipherSuite ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:!AES128
    	SSLCertificateFile {{ apache.sslcert }}
    	SSLCertificateKeyFile {{ apache.sslkey }}
{% if sslchain is defined %}
        SSLCertificateChainFile {{ apache.sslchain }}
{% endif %}

        <FilesMatch "\.(cgi|shtml|phtml|php)$">
                SSLOptions +StdEnvVars
        </FilesMatch>
        <Directory /usr/lib/cgi-bin>
                SSLOptions +StdEnvVars
        </Directory>

        BrowserMatch "MSIE [2-6]" \
                nokeepalive ssl-unclean-shutdown \
                downgrade-1.0 force-response-1.0
        # MSIE 7 and newer should be able to use keepalive                                                         
        BrowserMatch "MSIE [17-9]" ssl-unclean-shutdown


        <Location /birt-viewer>
                Order deny,allow
                Deny from all
                Allow from {{ apache.allow_ip }}
                ProxyPass ajp://localhost:8009/birt-viewer/
                ProxyPassReverse https://{{ apache.server_name }}/birt-viewer/
        </Location>

</VirtualHost>
</IfModule>
